<div class="jumbotron text-center">
    <h1 class="display">{{title}}</h1>
    <p>Watch the latest movies on the Go with Us!</p>
    <a href="./movies" class="btn btn-dark btn-lg">Check our stock!</a>
</div>
